.git
.bun
node_modules
tsconfig.json.tsbuildinfo
**/node_modules
**/tsconfig.json.tsbuildinfo

# Extracted data from iidx merge script
typescript/seeds-scripts/rerunners/iidx/iidx-mdb-parse/ifs-output
typescript/seeds-scripts/rerunners/iidx/iidx-mdb-parse/logs
